<div class="row">
  <div class="col-md">
    <p class="centered"><%= t(:thank_you, guest_name: @guest.name) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md centered">
    <a href="https://joannaandruben.uk/" class="btn btn-luxe"><%= t(:back_to_our_wedding_website) %></a>
  </div>
</div>
